![title](Header__0001_9.png)
___
## Chapter 9 - Web-based Data Visualizations with Plotly
### Segment 3 - Plotly maps
#### Setting up to use Plotly within Jupyter

In [10]:
import numpy as np
import pandas as pd

import plotly.plotly as py
import plotly.tools as tls

In [11]:
tls.set_credentials_file(username='Gurubux', api_key='Lq7Bg2I2vBwAdcdhzjZC')

#### Generating Choropleth maps

In [12]:
address = 'States.csv'
states = pd.read_csv(address)
states.columns = ['code','region','pop','satv', 'satm', 'percent', 'dollars', 'pay']
states.head()

  code region    pop  satv  satm  percent  dollars  pay
0   AL    ESC   4041   470   514        8    3.648   27
1   AK    PAC    550   438   476       42    7.887   43
2   AZ    MTN   3665   445   497       25    4.231   30
3   AR    WSC   2351   470   511        6    3.334   23
4   CA    PAC  29760   419   484       45    4.826   39

In [19]:
states['text'] = 'SATv '+states['satv'].astype(str) + 'SATm '+states['satm'].astype(str) +'<br>'+\
'State '+states['code']
scl = [
    [0.0, 'rgb(242,240,247)'],
    [0.2, 'rgb(218,218,235)'],
    [0.4, 'rgb(188,189,220)'],
    [0.6, 'rgb(158,154,200)'],
    [0.8, 'rgb(117,107,177)'],
    [1.0, 'rgb(84,39,143)']
]
scl2 = [[0.0, 'rgb(165,0,38)'], [0.1111111111111111, 'rgb(215,48,39)'], [0.2222222222222222, 'rgb(244,109,67)'], [0.3333333333333333, 'rgb(253,174,97)'], [0.4444444444444444, 'rgb(254,224,144)'], [0.5555555555555556, 'rgb(224,243,248)'], [0.6666666666666666, 'rgb(171,217,233)'], [0.7777777777777778, 'rgb(116,173,209)'], [0.8888888888888888, 'rgb(69,117,180)'], [1.0, 'rgb(49,54,149)']]
data = [dict(type='choropleth', autocolorscale=False, locations = states['code'], z= states['dollars'], locationmode='USA-states', text = states['text'], colorscale = scl2, colorbar= dict(title="thousand dollars"))]
data

[{'type': 'choropleth', 'autocolorscale': False, 'locations': 0     AL
  1     AK
  2     AZ
  3     AR
  4     CA
  5     CO
  6     CN
  7     DE
  8     DC
  9     FL
  10    GA
  11    HI
  12    ID
  13    IL
  14    IN
  15    IA
  16    KS
  17    KY
  18    LA
  19    ME
  20    MD
  21    MA
  22    MI
  23    MN
  24    MS
  25    MO
  26    MT
  27    NE
  28    NV
  29    NH
  30    NJ
  31    NM
  32    NY
  33    NC
  34    ND
  35    OH
  36    OK
  37    OR
  38    PA
  39    RI
  40    SC
  41    SD
  42    TN
  43    TX
  44    UT
  45    VT
  46    VA
  47    WA
  48    WV
  49    WI
  50    WY
  Name: code, dtype: object, 'z': 0     3.648
  1     7.887
  2     4.231
  3     3.334
  4     4.826
  5     4.809
  6     7.914
  7     6.016
  8     8.210
  9     5.154
  10    4.860
  11    5.008
  12    3.200
  13    5.062
  14    5.051
  15    4.839
  16    5.009
  17    4.390
  18    4.012
  19    5.894
  20    6.184
  21    6.351
  22    5.257
  23    5.260
  24    3.322
  25    4.415
  26    5.184
  27    4.381
  28    4.564
  29    5.504
  30    9.159
  31    4.446
  32    8.500
  33    4.802
  34    3.685
  35    5.639
  36    3.742
  37    5.291
  38    6.534
  39    6.989
  40    4.327
  41    3.730
  42    3.707
  43    4.238
  44    2.993
  45    5.740
  46    5.360
  47    5.045
  48    5.046
  49    5.946
  50    5.255
  Name: dollars, dtype: float64, 'locationmode': 'USA-states', 'text': 0     SATv 470SATm 514<br>State AL
  1     SATv 438SATm 476<br>State AK
  2     SATv 445SATm 497<br>State AZ
  3     SATv 470SATm 511<br>State AR
  4     SATv 419SATm 484<br>State CA
  5     SATv 456SATm 513<br>State CO
  6     SATv 430SATm 471<br>State CN
  7     SATv 433SATm 470<br>State DE
  8     SATv 409SATm 441<br>State DC
  9     SATv 418SATm 466<br>State FL
  10    SATv 401SATm 443<br>State GA
  11    SATv 404SATm 481<br>State HI
  12    SATv 466SATm 502<br>State ID
  13    SATv 466SATm 528<br>State IL
  14    SATv 408SATm 459<br>State IN
  15    SATv 511SATm 577<br>State IA
  16    SATv 492SATm 548<br>State KS
  17    SATv 473SATm 521<br>State KY
  18    SATv 476SATm 517<br>State LA
  19    SATv 423SATm 463<br>State ME
  20    SATv 430SATm 478<br>State MD
  21    SATv 427SATm 473<br>State MA
  22    SATv 454SATm 514<br>State MI
  23    SATv 477SATm 542<br>State MN
  24    SATv 477SATm 519<br>State MS
  25    SATv 473SATm 522<br>State MO
  26    SATv 464SATm 523<br>State MT
  27    SATv 484SATm 546<br>State NE
  28    SATv 434SATm 487<br>State NV
  29    SATv 442SATm 486<br>State NH
  30    SATv 418SATm 473<br>State NJ
  31    SATv 480SATm 527<br>State NM
  32    SATv 412SATm 470<br>State NY
  33    SATv 401SATm 440<br>State NC
  34    SATv 505SATm 564<br>State ND
  35    SATv 450SATm 499<br>State OH
  36    SATv 478SATm 523<br>State OK
  37    SATv 439SATm 484<br>State OR
  38    SATv 420SATm 463<br>State PA
  39    SATv 422SATm 461<br>State RI
  40    SATv 397SATm 437<br>State SC
  41    SATv 506SATm 555<br>State SD
  42    SATv 483SATm 525<br>State TN
  43    SATv 413SATm 461<br>State TX
  44    SATv 492SATm 539<br>State UT
  45    SATv 431SATm 466<br>State VT
  46    SATv 425SATm 470<br>State VA
  47    SATv 437SATm 486<br>State WA
  48    SATv 443SATm 490<br>State WV
  49    SATv 476SATm 543<br>State WI
  50    SATv 458SATm 519<br>State WY
  Name: text, dtype: object, 'colorscale': [[0.0, 'rgb(165,0,38)'],
   [0.1111111111111111, 'rgb(215,48,39)'],
   [0.2222222222222222, 'rgb(244,109,67)'],
   [0.3333333333333333, 'rgb(253,174,97)'],
   [0.4444444444444444, 'rgb(254,224,144)'],
   [0.5555555555555556, 'rgb(224,243,248)'],
   [0.6666666666666666, 'rgb(171,217,233)'],
   [0.7777777777777778, 'rgb(116,173,209)'],
   [0.8888888888888888, 'rgb(69,117,180)'],
   [1.0, 'rgb(49,54,149)']], 'colorbar': {'title': 'thousand dollars'}}]

In [20]:
layout = dict(title='State Spending on Public Education, in $k/student', 
              geo = dict(scope='usa', projection=dict(type='albers usa'), showlakes = True, lakecolor = 'rgb(66,165,245)',),)
layout

{'title': 'State Spending on Public Education, in $k/student',
 'geo': {'scope': 'usa',
  'projection': {'type': 'albers usa'},
  'showlakes': True,
  'lakecolor': 'rgb(66,165,245)'}}

In [21]:
fig = dict(data=data, layout=layout)

py.iplot(fig, filename='d3-choropleth-map')

#### Generating point maps