In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
starting_date = '20160701'
sample_numpy_data = np.array(np.arange(24)).reshape((6,4))
dates_index = pd.date_range(starting_date, periods=6)
sample_df = pd.DataFrame(sample_numpy_data, index=dates_index, columns=list('ABCD'))
sample_df

             A   B   C   D
2016-07-01   0   1   2   3
2016-07-02   4   5   6   7
2016-07-03   8   9  10  11
2016-07-04  12  13  14  15
2016-07-05  16  17  18  19
2016-07-06  20  21  22  23

In [4]:
sample_df_2 = sample_df.copy()
sample_df_2['Fruits'] = ['apple', 'orange','banana','strawberry','blueberry','pineapple']
sample_df_2

             A   B   C   D      Fruits
2016-07-01   0   1   2   3       apple
2016-07-02   4   5   6   7      orange
2016-07-03   8   9  10  11      banana
2016-07-04  12  13  14  15  strawberry
2016-07-05  16  17  18  19   blueberry
2016-07-06  20  21  22  23   pineapple

Setting a new column automatically aligns the data by the indexes

In [5]:
pd.date_range(starting_date, periods=6)

DatetimeIndex(['2016-07-01', '2016-07-02', '2016-07-03', '2016-07-04',
               '2016-07-05', '2016-07-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
pd.Series([1,2,3,4,5,6], index=pd.date_range(starting_date, periods=6))

2016-07-01    1
2016-07-02    2
2016-07-03    3
2016-07-04    4
2016-07-05    5
2016-07-06    6
Freq: D, dtype: int64

In [22]:
sample_series = pd.Series([1,2,3,4,5,6], index=pd.date_range(starting_date, periods=6))
sample_df_2['Extra Data'] = sample_series *3 +1
sample_df_2

             A   B   C   D      Fruits  Extra Data
2016-07-01   0   1   2   3       apple           4
2016-07-02   4   5   6   7      orange           7
2016-07-03   8   9  10  11      banana          10
2016-07-04  12  13  14  15  strawberry          13
2016-07-05  16  17  18  19   blueberry          16
2016-07-06  20  21  22  23   pineapple          19

##### Setting values by label

In [23]:
sample_df_2.at[dates_index[3],'Fruits'] = 'pear'
sample_df_2

             A   B   C   D     Fruits  Extra Data
2016-07-01   0   1   2   3      apple           4
2016-07-02   4   5   6   7     orange           7
2016-07-03   8   9  10  11     banana          10
2016-07-04  12  13  14  15       pear          13
2016-07-05  16  17  18  19  blueberry          16
2016-07-06  20  21  22  23  pineapple          19

##### Setting values by position
documentation: http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iat.html

iat provides integer based lookups

In [25]:
sample_df_2.iat[3,2] = 4444
sample_df_2

             A   B     C   D     Fruits  Extra Data
2016-07-01   0   1     2   3      apple           4
2016-07-02   4   5     6   7     orange           7
2016-07-03   8   9    10  11     banana          10
2016-07-04  12  13  4444  15       pear          13
2016-07-05  16  17    18  19  blueberry          16
2016-07-06  20  21    22  23  pineapple          19

##### Setting by assigning with a numpy array

In [30]:
second_numpy_array = np.array(np.arange(len(sample_df_2)))  *100 + 7
second_numpy_array

array([  7, 107, 207, 307, 407, 507])

In [32]:
sample_df_2['G'] = second_numpy_array
sample_df_2

             A   B     C   D     Fruits  Extra Data    G
2016-07-01   0   1     2   3      apple           4    7
2016-07-02   4   5     6   7     orange           7  107
2016-07-03   8   9    10  11     banana          10  207
2016-07-04  12  13  4444  15       pear          13  307
2016-07-05  16  17    18  19  blueberry          16  407
2016-07-06  20  21    22  23  pineapple          19  507